#main_layout > .row {
  min-height: 100vh;
}

.flex-fill {
  flex:1 1 auto;
}

body{
  font-family: "Roboto", Helvetica, Arial, "sans-serif";
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #000000;
  background-color: #fbfbfc;
}

a:link {
  color: #666666;
  text-decoration: underline;
  font-family: "Roboto", Helvetica, Arial, "sans-serif";
  font-weight: 300;
  font-size: 1rem;
}

a:visited {
  color: #333333;
  text-decoration: underline;
}

a:hover {
  color: #c5c5c5;
  text-decoration: underline;
}

.title {
  align-content: center;
  font-family: "Roboto", Helvetica, Arial, "sans-serif";
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 32px;
}

.field {
  padding: 5px;
  width:100%;
  font-family: "Roboto", Helvetica, Arial, "sans-serif";
  font-size: 0.875rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button {
  background-color: #bbe0df;
  border: none;
  color: #1a1a1a;
  padding: 5px;
  width:230px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 16px;
}

.button:hover {
  background-color: #9fc1bf;
}